{% if content.title or content.copy %}
  <div class="
      {% if introClasses %}
        {{ introClasses|join(' ') }}
      {% else %}
        col-sm-8 col-md-6 col-lg-4 col-bleed
      {% endif %}">

    <div class="a-module__copy">
      {% if content.title %}
        <h2>{{ content.title }}</h2>
      {% endif %}

      {% if content.copy %}
        {{ content.copy }}
      {% endif %}

      {% if content.image %}
        <img data-src="{{ Image(content.image).src('logo') }}" class="lazy" alt="{{ content.image.alt }}">
      {% endif %}

      {% if content.buttonLink %}
        <a href="{{ content.buttonLink }}" class="a-btn">{{ content.buttonLabel }}</a>
      {% endif %}
    </div>

  </div>
{% endif %}