<footer class="o-footer">
  {# Get in touch module #}
  {% include '/blocks/partial/standout.twig' with {
    content: {
      image: options.image,
      title: options.title,
      copy: options.copy,
      buttonLabel: options.button.title,
      buttonLink: options.button.url,
      buttonClass: 'a-btn--alt',
      extraCopy: options.extra_copy
    },
    classes: [
      'm-standout--light',
      options.add_image_overlay ? 'a-overlay' : null,
      options.branding ? 'brand--' ~ options.branding|lower : null,
    ],
  } %}

  {# newsletter & content #}
  <div class="o-footer__top o-footer__row">
    <div class="grid">
      <div class="col-sm-12 o-footer__inner">
        
        <div class="m-newsletter col-sm-10 col-md-8 col-bleed">
          <h3>{{ options.newsletter_title }}</h3>

          {{ options.newsletter_copy }}

          {{ options.form_embed }}
        </div>

        <div class="a-contact-info">
          {{ options.company_copy }}
        </div>

      </div>
    </div>
  </div>

  {# Footer nav #}
  <div class="o-footer__nav o-footer__row">
    <div class="grid">
      <div class="col-sm-12">
        
        <nav class="m-nav m-nav--footer" role="navigation">
          {% include "/molecules/menu.twig" with {'items': footernav.get_items} %}
        </nav>

      </div>
    </div>
  </div>

  {# Smallprint & social #}
  <div class="o-footer__bottom o-footer__row">
    <div class="grid">
      <div class="col-sm-12 o-footer__inner">

        <div class="a-smallprint col-sm-10 col-md-8 col-bleed">
          {{ options.smallprint_copy }}
        </div>

        {% include '/molecules/social-links.twig' with {
          content: {
            links: options.social_link,
          },
          classes: [
            'm-social-links',
            'm-social-links--alt'
          ]
        } %}

      </div>
    </div>
  </div>
</footer>
