{#
/**
 * Block Name: People cards
 */
#}

<section class="a-bleed a-module a-gradient md-people-cards">

  {% include '/blocks/partial/intro.twig' with {
    content: {
      title: fields.title,
      copy: fields.copy
    }
  } %}

  <div class="a-module--bleed a-grid a-grid--3">
    {% for person in fields.people %}
      <div class="m-person">
        <figure class="m-person__image">
          {% if person.image %}
            <img data-src="{{ Image(person.image).src('square_small') }}" class="lazy" alt="{{ person.image.alt }}" />
          {% else %}
            <img src="{{ theme.link }}/dist/img/person-placeholder.png" alt="{{ person.name }} placeholder image" />
          {% endif %}
        </figure>
        
        <div class="m-person__details">
          <h3>{{ person.name }}</h3>

          {% if person.qualifications %}
            <p>{{ person.qualifications }}</p>
          {% endif %}

          <p><strong>{{ person.role }}</strong></p>
        </div>

        {% if person.bio %}
          {{ person.bio }}
        {% endif %}

        {% include '/molecules/social-links.twig' with {
          content: {
            links: person.social_link,
          },
          classes: [
            'm-social-links'
          ]
        } %}
      </div>
    {% endfor %}
  </div>

</section>