{#
/**
 * Block Name: Stacked tiles
 */
#}

<section class="a-bleed a-module a-module--bleed {% if fields.alternate_background_colour %}a-gradient{% endif %} md-stacked-tiles">
  {% include '/blocks/partial/intro.twig' with {
    content: {
      title: fields.title,
      copy: fields.introduction
    }
  } %}
  
  <div class="md-stacked-tiles__tiles">
    {% for tile in fields.tiles %}
      <div class="m-tile brand--{{ tile.branding|lower }}">
        <div class="m-tile__copy">
          {% if tile.pre_title %}
            <p class="h4" class="pre-title">
              {{ tile.pre_title }}
            </p>
          {% endif %}

          {% if fields.title %}
            <h3 class="h2">{{ tile.title }}</h3>
          {% else %}
            <h2>{{ tile.title }}</h2>
          {% endif %}

          {{ tile.copy }}

          {% if tile.button %}
            <a href="{{ tile.button.url }}" class="a-btn">{{ tile.button.title }}</a>
          {% endif %}
        </div>
        <div class="m-tile__image">
          {# TODO image styles #}
          <img data-src="{{ Image(tile.image).src('large') }}" class="lazy" alt="{{ tile.image.alt }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</section>