{#
/**
 * Block Name: Testimonials
 */
#}

<section class="a-bleed a-module a-gradient md-testimonials">
  <div class="a-module--bleed a-grid a-grid--3">
    {% for testimonial in fields.testimonials %}
      <div class="m-testimonial">

        <figure class="m-testimonial__image">
          {% if testimonial.image %}
            <img data-src="{{ Image(testimonial.image).src('square_small') }}" class="lazy" alt="{{ testimonial.image.alt }}" />
          {% else %}
            <img src="{{ theme.link }}/dist/img/person-placeholder.png" alt="{{ person.name }} placeholder image" />
          {% endif %}
        </figure>

        <blockquote>{{ testimonial.quote }}</blockquote>

        <cite>{{ testimonial.cite }}</cite>

        {% if testimonial.company %}
          <cite class="company">{{ testimonial.company }}</cite>
        {% endif %}

      </div>
    {% endfor %}
  </div>
</section>